body { 
    padding-top:50px; 
    background-color: lightblue;
}

nav ul {
    display: flex;
    margin: .5rem;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin:1rem;
}


.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    display: flex;
    justify-content: center;
   flex-direction: column;
   background-color: aliceblue;
   padding: 1rem;
}

form input {
    width: 30vw;
}

form button {
    padding: 1rem;
    width: 3rem;
    justify-content: center;
}


#loaderDiv {
    background-image: url("loading-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* maak er een ronde afbeelding van */
    border-radius: 50%;

    /* beperk interactie door bezoeker */
    pointer-events:none;
    user-select:none;

    /* verberg de loader, zichtbaar maken gebeurt met eenvoudige transitie  */
    opacity:0;
    transition:.15s;

    /* animatie tijdens tonen */
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}