body { 
    padding-top:50px; 
    background-color: lightblue;
}

nav ul {
    display: flex;
    margin: .5rem;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 3rem;
}

form {
    display: flex;
    justify-content: center;
   flex-direction: column;
}

form input {
    width: 30vw;
}

form button {
    padding: 1rem;
    width: 3rem;
}